/wp-trackback.php
/wp-blog-header.php
/wp-signup.php
/xmlrpc.php
/wp-activate.php
/wp-settings.php
/license.txt
/wp-mail.php
/readme.html
/wp-config.php
/index.php
/wp-links-opml.php
/.htaccess
/wp-comments-post.php
/wp-cron.php
/wp-config-sample.php
/wp-login.php
/wp-load.php
/wp-includes/
/wp-admin/
/wp-content/plugins/etc/
/wp-content/plugins/woocommerce/
/wp-content/plugins/index.php
/wp-content/plugins/etc
/wp-content/themes/
/wp-content/uploads/
/nbproject
/error_log