/wp-trackback.php
/wp-blog-header.php
/wp-signup.php
/xmlrpc.php
/wp-activate.php
/wp-settings.php
/license.txt
/wp-mail.php
/readme.html
/wp-config.php
/index.php
/wp-links-opml.php
/.htaccess
/wp-comments-post.php
/wp-cron.php
/wp-config-sample.php
/wp-login.php
/wp-load.php
/wp-includes/
/wp-admin/
/wp-content/plugins/woocommerce-gateway-stripe/
/wp-content/plugins/quick-paypal-payments/
/wp-content/plugins/woocommerce-checkout-cielo/
/wp-content/plugins/ariya-woo-mygate/
/wp-content/plugins/woocommerce-mundipagg/
/wp-content/plugins/woocommerce-bcash/
/wp-content/plugins/woocommerce-boleto/
/wp-content/plugins/woocommerce-mercadopago/
/wp-content/plugins/woocommerce-moip/
/wp-content/plugins/woocommerce/
/wp-content/plugins/woocommerce-gateway-paypal-express-checkout/
/wp-content/plugins/woocommerce-pagseguro/
/wp-content/plugins/index.php
/wp-content/themes/
/wp-content/uploads/